---
import TagList from '../../components/TagList.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout
	title={`Tags for my posts — Duncan Ritchie’s blog`}
	description={`List of years that have blogposts by Duncan Ritchie`}
	showBlogHomeLinkInFooter={true}
>
	<main>
		<h1>Tags for my articles</h1>
		<TagList />
	</main>
</BaseLayout>
