---
import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import PostList from '../components/PostList.astro'
import TagList from '../components/TagList.astro'
import YearList from '../components/YearList.astro'
import SearchFormBasic from '../components/SearchFormBasic.astro'
import { addLinkBase } from '../utils'

const allPosts = await getCollection('posts')
---

<style>
	.headshot {
		float: right;
		margin-left: 1rem;
		object-fit: cover;
		object-position: 43%;
		border: 3px solid var(--colour6);
		border-top: none;
		width: calc(33% - 1rem - 3px);
		max-width: 30vw;
		max-height: 72.5vw;
	}
	.tagline {
		text-wrap: balance;
		text-wrap: pretty;
	}
	@media (max-width: 330px) {
		.headshot {
			max-width: 20vw;
		}
	}
	@media (max-width: 320px) {
		.headshot {
			max-width: 100%;
			width: 100%;
		}
	}
</style>

<BaseLayout
	title="Duncan Ritchie’s blog"
	description="Assorted notes that may or may not relate to web development, but that Duncan Ritchie felt should be recorded somewhere."
	showBlogHomeLinkInFooter={false}
	showRssLinkInFooter={true}
>
	<main>
		<img
			src={addLinkBase('images/duncan-headshot.webp')}
			alt="Duncan smiling"
			width="320"
			height="320"
			class="headshot"
		/>
		<h1>Duncan Ritchie’s blog</h1>
		<p class="tagline">
			Assorted notes that may or may not relate to web development, but that I
			felt should be recorded somewhere…
		</p>
		<h2 style="view-transition-name: search-heading;">Search the blog</h2>
		<SearchFormBasic />
		<h2>All articles</h2>
		<PostList posts={allPosts} />
		<h2>Articles by tag</h2>
		<TagList />
		<h2>Articles by year</h2>
		<YearList />
	</main>
</BaseLayout>
