---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Duncan Ritchie’s blog" showBlogHomeLinkInFooter={false}>
	<main>
		<h1>Duncan Ritchie’s blog</h1>
		<p>Assorted notes that may or may not relate to web development, but that I felt should be recorded somewhere…</p>
		<h2>All articles</h2>
		<dl>
			<!-- {%- for post in collections.published -%}
				<div>
					<dt>
						<time datetime="{{ post.date | isoDate }}">
							{{ post.date | prettifyDate }}
						</time>
					</dt>
					<dd>
						<a href=".{{ post.filePathStem }}">
							{{ post.data.title }}
						</a>
					</dd>
				</div>
			{%- endfor -%} -->
		</dl>
	</main>
</BaseLayout>

<style>
	main dl {
		/* Autosizing grid columns CSS is adapted from https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/#aa-the-article-list */
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
		gap: calc(1rem + 1.25vw);
	}
	main dl a {
		text-decoration: none;
	}
	main dl a:hover {
		text-decoration: underline;
	}
</style>
