---
import SearchFormAndResults from '../components/SearchFormAndResults.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
	title="Search — Duncan Ritchie’s blog"
	description="Search results"
	showBlogHomeLinkInFooter={true}
	showRssLinkInFooter={true}
>
	<main>
		<h1 style="view-transition-name: search-heading;">Search my blog</h1>
		<SearchFormAndResults />
	</main>
</BaseLayout>
