---
import type { CollectionEntry } from 'astro:content'
import { addLinkBase, slugifyPost, sortPosts } from '../utils'

export interface Props {
	posts: CollectionEntry<'posts'>[]
}

const { posts } = Astro.props

const allPostsSorted = sortPosts(posts)
---

<dl class="auto-grid">
	{
		allPostsSorted.map((post) => {
			const slug = slugifyPost(post)
			return (
				<div>
					<dt>
						<time
							datetime={post.data.date.toISOString().slice(0, 10)}
							data-has-view-transition
							style={{ viewTransitionName: `date-${slug}` }}
						>
							{post.data.date.toLocaleDateString('en-gb', {
								weekday: 'short',
								year: 'numeric',
								month: 'short',
								day: '2-digit',
							})}
						</time>
						{post.data.draft && (
							<span
								class="draft-marker"
								data-has-view-transition
								style={{
									viewTransitionName: `draft-${slug}`,
								}}
							>
								{' '}
								draft
							</span>
						)}
					</dt>
					<dd>
						<a
							href={addLinkBase(slug)}
							data-has-view-transition
							style={{ viewTransitionName: slug }}
						>
							{post.data.title}
						</a>
					</dd>
				</div>
			)
		})
	}
</dl>

<style>
	dl a {
		text-decoration: none;
	}
	dl a:hover {
		text-decoration: underline;
	}
	.draft-marker {
		text-transform: uppercase;
		font-size: 0.6667em;
		background: var(--colour3);
		border: 1px solid var(--nav-text);
		border-radius: 0.125em;
		padding-inline: 0.25em;
		margin-inline-start: 0.25em;
		vertical-align: 0.125em;
	}
</style>
