---
// Types are adapted from https://gist.github.com/maciejpedzich/000da5c6b3a91290d49a91c9fe940ca3
import type { MarkdownHeading } from 'astro'

type Props = {
	headings: MarkdownHeading[]
}
type HeadingWithSubheadings = MarkdownHeading & {
	subheadings: HeadingWithSubheadings[]
}

const { headings } = Astro.props

function getSubheadings(
	heading: MarkdownHeading | undefined,
	headings: MarkdownHeading[],
) {
	if (!heading) {
		console.error('Invalid heading:', heading)
		return []
	}
	const depth = heading.depth
	const laterHeadings = headings.slice(
		1 + headings.findIndex((h) => h === heading),
	)
	const subheadings = laterHeadings.some((h) => h.depth <= depth)
		? laterHeadings.slice(
				0,
				laterHeadings.findIndex((h) => h.depth <= depth),
		  )
		: [...laterHeadings]
	const processedSubheadings = subheadings
		.filter((h) => h.depth === depth + 1)
		.map((h): HeadingWithSubheadings => {
			return { ...h, subheadings: getSubheadings(h, subheadings) }
		})
	return processedSubheadings
}

const firstHeading = headings.find((h) => h.depth === 1)
const headingsObject = {
	...firstHeading,
	subheadings: getSubheadings(firstHeading, headings),
}
---

<details>
	<summary>Contents</summary>
	<nav id="table-of-contents" aria-label="Table of Contents">
		<!-- I could tidy this up by writing a recursive component. -->
		<ul>
			{
				headingsObject.subheadings?.map((heading2) => (
					<li>
						<a href={'#' + heading2.slug}>{heading2.text}</a>
						{heading2.subheadings ? (
							<ul>
								{heading2.subheadings.map((heading3) => (
									<li>
										<a href={'#' + heading3.slug}>{heading3.text}</a>
										{heading3.subheadings ? (
											<ul>
												{heading3.subheadings.map((heading4) => (
													<li>
														<a href={'#' + heading4.slug}>{heading4.text}</a>
														{/* {heading4.subheadings ? <ul></ul> : null} */}
													</li>
												))}
											</ul>
										) : null}
									</li>
								))}
							</ul>
						) : null}
					</li>
				))
			}
		</ul>
	</nav>
</details>

<style>
	details {
		width: 100%;
		max-width: 30ch;
		border: 3px solid var(--colour6);
		padding-inline: 1rem;
		padding-block: 0.5rem;
		font-size: 0.8rem;
	}
	nav ul {
		list-style-type: '⮡   ';
		/* Some other possible arrows: ↳➥⮩⮱⤷ */
	}
	nav > ul {
		margin-top: 0.5rem;
		margin-bottom: 0;
		padding-left: 1rem;
	}
	nav ul li::marker {
		color: var(--colour6);
	}
</style>
