---
// Types are adapted from https://gist.github.com/maciejpedzich/000da5c6b3a91290d49a91c9fe940ca3
import type { MarkdownHeading } from 'astro'
import TableOfContentsRecursivePart from './TableOfContentsRecursivePart.astro'

type Props = {
	headings: MarkdownHeading[]
}
export type HeadingWithSubheadings = MarkdownHeading & {
	subheadings: HeadingWithSubheadings[]
}

const { headings } = Astro.props

// Creates an array of headings with arrays of subheadings nested within, recursively.
// `headings` is the full array of headings from Astro, at first.
// When the function calls itself, the parameter will be a slice of the array, not the full array.
function getSubheadings(
	heading: MarkdownHeading | undefined,
	headings: MarkdownHeading[],
) {
	// If there’s no depth-1 heading to start at, there can be no subheadings of it.
	if (!heading) {
		console.error('Invalid heading:', heading)
		return []
	}
	// A heading’s subheadings cannot be earlier than the heading, nor can they include that heading,
	// so we narrow the headings down to a slice starting immediately after the current heading.
	// So if the headings in a document are 2,1,2,3,4,3,4,2, and we’re getting the subheadings for the second depth-2 heading,
	// the array gets sliced to 3,4,3,4,2.
	const depth = heading.depth
	const laterHeadings = headings.slice(
		1 + headings.findIndex((h) => h === heading),
	)
	// If we’re still looking at headings that are not deeper than the current heading,
	// we need to narrow the headings down to a slice stopping at the first heading that
	// is not a subheading (because it’s of depth equal or less than the current heading).
	// The example array from the previous comment would be sliced to 3,4,3,4 here.
	const descendants = laterHeadings.some((h) => h.depth <= depth)
		? laterHeadings.slice(
				0,
				laterHeadings.findIndex((h) => h.depth <= depth),
		  )
		: [...laterHeadings]
	// The children of a heading all have a depth of one more than it.
	// They become the subheadings, but the recursive function is also called on each of them.
	// So each subheading is paired with the child subheadings that may exist for it,
	// and each child subheading may have children of its own, etc.
	const childSubheadings = descendants
		.filter((h) => h.depth === depth + 1)
		.map((h): HeadingWithSubheadings => {
			return { ...h, subheadings: getSubheadings(h, descendants) }
		})
	return childSubheadings
}

// Find the first heading, and nest all its subheadings into it.
// The `getSubheadings` function is recursive, so subheadings will receive their own subheadings, etc.
const firstHeading = headings.find((h) => h.depth === 1)
const headingsObject = {
	...firstHeading,
	subheadings: getSubheadings(firstHeading, headings),
}
---

<details>
	<summary>Contents</summary>
	<nav id="table-of-contents" aria-label="Table of Contents">
		<p class="heading1-wrapper">
			<a href={'#' + headingsObject.slug}>{headingsObject.text}</a>
		</p>

		<TableOfContentsRecursivePart
			headings={headingsObject.subheadings}
			depth={headingsObject.depth}
		/>
	</nav>
</details>

<style>
	details {
		width: calc(100% - 2rem);
		padding-inline: 1rem;
		padding-top: 0;
		padding-bottom: 0.5rem;
		font-size: 0.8rem;
	}
	summary {
		padding-top: 0.75rem;
	}
	nav {
		margin-top: 0.25rem;
		padding: 0;
		position: absolute;
		z-index: 1;
		/* Background is the page background but lightened. The list of edits in <PostIntro> has the same. */
		background-image: linear-gradient(#ffffff60), var(--page-background);
		background-size: 100% 100vh;
		background-attachment: fixed;
		padding-inline: 0.5rem;
		margin-inline: -0.25rem;
		padding-bottom: 0.25rem;
		border: 2px solid var(--colour6);
	}
	.heading1-wrapper {
		margin-top: 0.25rem;
		margin-bottom: 0;
		font-style: italic;
	}
	@media (min-width: 80ch) {
		details {
			border-top: none;
			border-left: 3px solid var(--colour6);
		}
	}
</style>
