---
// Types are adapted from https://gist.github.com/maciejpedzich/000da5c6b3a91290d49a91c9fe940ca3
import type { MarkdownHeading } from 'astro'
import TableOfContentsRecursivePart from './TableOfContentsRecursivePart.astro'

type Props = {
	headings: MarkdownHeading[]
}
export type HeadingWithSubheadings = MarkdownHeading & {
	subheadings: HeadingWithSubheadings[]
}

const { headings } = Astro.props

// Creates an array of headings with arrays of subheadings nested within, recursively.
function getSubheadings(
	heading: MarkdownHeading | undefined,
	headings: MarkdownHeading[],
) {
	if (!heading) {
		console.error('Invalid heading:', heading)
		return []
	}
	const depth = heading.depth
	const laterHeadings = headings.slice(
		1 + headings.findIndex((h) => h === heading),
	)
	const subheadings = laterHeadings.some((h) => h.depth <= depth)
		? laterHeadings.slice(
				0,
				laterHeadings.findIndex((h) => h.depth <= depth),
		  )
		: [...laterHeadings]
	const processedSubheadings = subheadings
		.filter((h) => h.depth === depth + 1)
		.map((h): HeadingWithSubheadings => {
			return { ...h, subheadings: getSubheadings(h, subheadings) }
		})
	return processedSubheadings
}

const firstHeading = headings.find((h) => h.depth === 1)
const headingsObject = {
	...firstHeading,
	subheadings: getSubheadings(firstHeading, headings),
}
---

<details>
	<summary>Contents</summary>
	<nav id="table-of-contents" aria-label="Table of Contents">
		<p class="heading1-wrapper">
			<a href={'#' + headingsObject.slug}>{headingsObject.text}</a>
		</p>

		<TableOfContentsRecursivePart
			headings={headingsObject.subheadings}
			depth={headingsObject.depth}
		/>
	</nav>
</details>

<style>
	details {
		width: calc(100% - 2rem);
		padding-inline: 1rem;
		padding-top: 0;
		padding-bottom: 0.5rem;
		font-size: 0.8rem;
		border-top: 3px solid var(--colour6);
	}
	summary {
		padding-top: 0.75rem;
	}
	.heading1-wrapper {
		margin-top: 0.25rem;
		margin-bottom: 0;
		font-style: italic;
	}
	@media (min-width: 80ch) {
		details {
			border-top: none;
			border-left: 3px solid var(--colour6);
		}
	}
</style>
