---
import { getCollection } from 'astro:content'
import { sortPosts } from '../utils'

const allPosts = await getCollection('posts')

const allPostsSorted = sortPosts(allPosts)

const yearsSet: Set<number> = new Set(
	allPostsSorted.map((post) => new Date(post.data.date).getFullYear()),
)

const years = [...yearsSet].sort().reverse()

const yearsWithPostCounts: [number, number][] = years.map((year) => {
	const count = allPostsSorted.filter(
		(post) => year === new Date(post.data.date).getFullYear(),
	).length
	return [year, count]
})
---

<ul class="auto-grid">
	{
		yearsWithPostCounts.map(([year, count]) => (
			<li>
				<a
					href={import.meta.env.BASE_URL + '/years/' + year}
					style={{ viewTransitionName: `year-${year}` }}
				>
					{year}
				</a>
				<>
					({count} {count === 1 ? ' article' : ' articles'})
				</>
			</li>
		))
	}
</ul>
