---
import BaseLayout from '../../layouts/BaseLayout.astro'
import YearList from '../../components/YearList.astro'
---

<BaseLayout
	title={`Years that have posts — Duncan Ritchie’s blog`}
	description={`List of years that have blogposts by Duncan Ritchie`}
	showBlogHomeLinkInFooter={true}
>
	<main>
		<h1>Years with articles</h1>
		<YearList />
	</main>
</BaseLayout>
