---
import Footer from '../components/Footer.astro';

export interface Props {
	title: string;
	showBlogHomeLinkInFooter: boolean;
}

const { title, showBlogHomeLinkInFooter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

		<link rel="stylesheet" href="https://www.duncanritchie.co.uk/css/main.css">
		<link rel="stylesheet" href="https://www.duncanritchie.co.uk/css/no-js.css">
		<link rel="stylesheet" media="print" href="https://www.duncanritchie.co.uk/css/print.css">
		<link rel="stylesheet" href="https://www.duncanritchie.co.uk/css/subsites.css">
		<link rel="icon" href="https://www.duncanritchie.co.uk/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="https://www.duncanritchie.co.uk/favicon-96x96.png" type="image/png" />
	</head>
	<body>
		<slot />

		<Footer showBlogHomeLink={showBlogHomeLinkInFooter} />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
